:css
  #logo {
    margin:40px 0 20px 0;
  }
  .left {
    float:left;
  }
  .clear {
    clear:left;
  }
  .notice {
    border:1px solid #a0d8ef;
    background-color:#f7fcfe;
    padding:5px;
    width:70%;
    margin-bottom:20px;
  }

#logo
  .left{:style => "width:280px"}= image_tag 'tanzaku_logo.png'
  .left
    %fb:like{:href => "#{root_url}", :send => "false", :width => "450", :show_faces => "true"}
  .clear

- if flash[:notice]
  .notice
    あなたの願いはたしかに受け取りました。
    = image_tag flash[:target_user_image]
    さんに会えますように…

= image_tag 'tanzaku_description.jpg', :size => '650x280'

%p{:style => "font-weight:bold;margin-top:30px"} あなたが会いたいと思っている人のプロフィールページを教えてください。
= form_tag do
  %table
    %tr
      %td= image_tag 'tanzaku_icon.png', :size => '13x24', :style => "vertical-align:middle"
      %td= text_field_tag :profile_url, '', :style => "font-size:120%;margin-top:5px;width:500px", :placeholder => 'http://www.facebook.com/sasata299/'
      %td= submit_tag "に会いたい", :style => "margin-top:5px", :onclick => "var v = $('#profile_url').val(); if (v == '') { alert('プロフィールページのURLを入力してください'); return false; } else { return true; }"

:javascript
  $('input[placeholder]').placeholder();
