!!!
%html
  %head
    %title つながり短冊
    %meta{:name => "description", :content => "会いたい人を短冊に書くだけで、ネットでしか知らないあの人とリアルで会えるかも！？"}
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
    %meta{:property => "og:title", :content => "つながり短冊"}
    %meta{:property => "og:type", :content => "website"}
    %meta{:property => "og:url", :content => root_url}
    %meta{:property => "og:image", :content => Tanzaku::Application.config.logo_image}
    %meta{:property => "og:description", :content => "会いたい人を短冊に書くだけで、ネットでしか知らないあの人とリアルで会えるかも！？"}
    %meta{:property => "fb:app_id", :content => ENV["FACEBOOK_APP_ID"]}
  %body{:data => {:url => Tanzaku::Application.config.facebook_app_url}}
    = javascript_include_tag 'redirector'
    = yield

#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#appId=235770059807399&xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
